@font-face {
  font-family: "Mulish";
  src: local(""), url("../fonts/mulish.woff2") format("woff2"), url("../fonts/mulish.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Mulish";
  src: local(""), url("../fonts/mulish-medium.woff2") format("woff2"), url("../fonts/mulish-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Mulish";
  src: local(""), url("../fonts/mulish-bold.woff2") format("woff2"), url("../fonts/mulish-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
  font-optical-sizing: auto;
}
html {
  scroll-behavior: smooth;
}

.body-scroll-lock {
  overflow: hidden;
}

body {
  background-color: #f3f2f1;
  color: #0b0c0c;
  font-family: "Mulish", arial, sans-serif;
}

.current {
  color: #1d70b8;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul {
  margin: 0;
}

a {
  text-decoration: none;
  padding: 0px;
}

p {
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
}

picture {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
}

address {
  font-style: normal;
}

.header {
  text-align: center;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  width: 60px;
  height: 40px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 30px;
    width: 80px;
    height: 60px;
  }
}
.header__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}
.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0b0c0c;
  font-weight: 700;
  padding: 20px 0px;
  font-size: 19px;
  line-height: 1.2;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link.current {
  color: #1d70b8;
}
@media screen and (min-width: 768px) {
  .header__link {
    font-size: 15px;
    line-height: 1.04;
  }
}
@media screen and (min-width: 1280px) {
  .header__link {
    font-size: 18px;
    line-height: 1.14;
    padding: 30px 0px;
  }
}
.header__link:hover, .header__link:focus {
  color: #1d70b8;
}
.header__contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.header__contacts-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__icon {
  fill: currentColor;
  margin-right: 10px;
}
.header__icon--letter {
  width: 14px;
  height: 10px;
}
@media screen and (min-width: 1280px) {
  .header__icon--letter {
    width: 18px;
    height: 14px;
  }
}
.header__icon--phone {
  width: 10px;
  height: 14px;
}
@media screen and (min-width: 1280px) {
  .header__icon--phone {
    width: 22px;
    height: 18px;
  }
}
.header__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
.header__divider {
  padding: 30px 0;
}

.container {
  padding: 0px 25px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.mobile-menu {
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f3f2f1;
  letter-spacing: 0.02em;
  font-weight: 500;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.mobile-menu__container {
  padding: 40px 40px;
}
.mobile-menu__list:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-menu__item:not(:last-child) {
  margin-bottom: 20px;
}
.mobile-menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  line-height: 1.12;
  color: #0b0c0c;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #1d70b8;
}
@media screen and (max-width: 480px) {
  .mobile-menu__link {
    font-size: 18px;
    line-height: 1.04;
  }
}
.mobile-menu__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  border-radius: 0%;
  width: 40px;
  height: 40px;
  background-color: #f3f2f1;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
}
@media screen and (min-width: 768px) {
  .mobile-menu__button {
    display: none;
  }
}
.mobile-menu__button:focus, .mobile-menu__button:hover {
  color: #1d70b8;
}
.mobile-menu__button--close {
  position: absolute;
  top: 10px;
  right: 15px;
}
@media screen and (max-width: 480px) {
  .mobile-menu__button {
    width: 30px;
    height: 30px;
  }
}
.mobile-menu__icon {
  fill: currentColor;
  width: 40px;
  height: 40px;
}
@media screen and (max-width: 480px) {
  .mobile-menu__icon {
    width: 30px;
    height: 30px;
  }
}
.mobile-menu__icon--contacts {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
@media screen and (max-width: 480px) {
  .mobile-menu__icon--contacts {
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }
}/*# sourceMappingURL=index.css.map */